@media screen and (max-width: 749px) {
    .top-txt h1{
        writing-mode: vertical-rl;
    }

    .delete1{
        display: none;
    }

    .color-other-name{
        writing-mode: vertical-rl;
    }

    .article{
        min-height: 100vh;
        position: relative;
    }

    button{
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .slide-arrow{
        position: absolute;
        top: 50%;
        margin-top: -15px;
      }
      .prev-arrow{
        left: 14%;
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 25px solid #ffffff;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        z-index: 1000;
        opacity: 0.8;
      }
      .next-arrow{
        right: 14%;
        width: 0;
        height: 0;
        border-right: 0 solid transparent;
        border-left: 25px solid #ffffff;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        opacity: 0.8;
      }

    footer{
        background-color: #ffffff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    footer ul{
        list-style: none;
        padding: 0;
        margin: 6px 0;
        display: table;
        width: 100%;
    }

    footer ul li{
        display:table-cell;
        vertical-align: middle; 
        text-align: center;
        padding: 10px 10px;
    }

    footer ul li:first-child{
        width: 38%;
        border-right: solid 1px #CE0000;
    }

    footer ul li:nth-child(2){
        width: 38%;
        border-right: solid 1px #CE0000;
    }

    footer ul li:nth-child(3){
        width: 24%;
        padding: 10px 5px;
    }

    footer ul li:nth-child(4),
    footer ul li:nth-child(5){
        display: none;
    }

    footer ul li a{
        color: #CE0000;
        text-align: center;
        font-size: 10px;
    }

    .page-top{
        display: flex;
        flex-direction: column;
    }

    footer ul li a:link,
    footer ul li a:visited,
    footer ul li a:hover,
    footer ul li a:active{
        color: #CE0000;
        text-decoration: none;
      }
}
@media screen and (min-width: 420px){
    .slider li{
        margin: 0 5px;
    }

    .slider li img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}


@media screen and (min-width: 750px) {

    .top{
        background-image: url(./Links/top-white2.png);
        background-position:center;
        height: 577px;
    }

    .top-txt h1{
        position: absolute;
        writing-mode: none;
        color: #ffffff;
        text-shadow: -1.44px 1.44px 1.44px rgba(0, 0, 0, 0.3);
        font-size: 26px;
        letter-spacing: 0.1em;
        top: 42%;
        left:10%;
    }

    .top-txt .delete{
        display: none;
    }

    .top-txt .top-txt1{
        font-size: 15px;
        top: 47%;
        left: 13%;
    }

    .top-txt .top-txt2{
        position: absolute;
        color: #000000;
        writing-mode: vertical-rl;
        font-size: 12px;
        bottom: 25px;
        right: 10px; 
        left: auto;
        transform: scale(1); 
        text-align: right;
    }

    .top .scroll {
        position: absolute;
        bottom: 2em;
        left: 50%;
        width: 4em;
        height: 4em;
    }
    .scroll span {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 25%;
        left: 33%;
        transform: translateY(0) rotate(-45deg);
        border-left: 2px solid #F5F5F5;
        border-bottom: 2px solid #F5F5F5;
        z-index: 2;
        animation: popping-arrow 2s infinite ease-out;
    }
    .scroll span:hover span {
        transform: translateY(.5em) rotate(-45deg) ;
        animation: paused;
    }
      
      
      @keyframes popping-arrow {
        0% {
          transform: translateY(0) rotate(-45deg);
        }
        30% {
          transform: translateY(.5em) rotate(-45deg);
        }
        60% {
          transform: translateY(0) rotate(-45deg);
        }
      }
      

    .colors{
        margin:100px 20px 100px
    }

    .colors h2{
        font-size: 20px;
    }

    .colors-txt{
        margin-top: 40px;
        font-size: 16px;
        line-height: 32px;
    }

    .pick{
        margin-top: 80px;
        font-size: 15px;
    }

    .colors ul li{
        margin: 0 30px 0;
    }

    .fa-square-full{
        width: 20px;
        height: 20px;
    }

    .opacity{
        opacity: 0;
    }
    
    .opacity:hover{
        opacity: 1;
    }
    

    .color-name{
        font-size: 38px;
    }

    .color-other-name{
        font-size: 10px;
        transform: scale(0.9); 
    }

    .red .bg-img{
        background-image: url(./Links/red-top.jpg);
        background-position: -120px center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
    }

    .white .bg-img{
        background-image: url(./Links/white-top.jpg);
        background-position: 120px center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
    }

    .green .bg-img{
        background-image: url(./Links//green-top.jpg);
        background-position: -120px center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
    }

    .blue .bg-img{
        background-image: url(./Links/blue-top.jpg);
        background-position: 120px center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
    }

    .row{
        position: relative;
    }

    .red .block-line{
        border: solid 1px #CE0000;
        margin: 4px;
    }

    .white .block-line{
        border: solid 1px #C1B3AC;
        margin: 4px;
    }

    .green .block-line{
        border: solid 1px #00957E;
        margin: 4px;
    }

    .blue .block-line{
        border: solid 1px #153E83;
        margin: 4px;
    }

    .row .red-block,
    .row .green-block{
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-5%, -50%);
    }

    .row .white-block,
    .row .blue-block{
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(5%, -50%);
    }

    .red-block h2{
        font-size: 74px;
    }

    .row{
        position: relative;
    }

    .block-ttl{
        font-size: 20px;
        letter-spacing: 0.2em;
    }

    .block-txt{
        font-size: 10px;
        padding-top: 15px;
        margin: 0 20px 0;
        padding-bottom: 15px;
        line-height: 16px;
    }

    .variation{
        font-size: 15px;
        margin-top: 45px;
        margin-top: 45px;
    }

    .slider li{
        margin: 0 5px;
    }
    
    .slider li img{
        width: 100%;
        height: 370px;
        object-fit: cover;
    }

    .message{
        padding-top: 140px;
        margin: 0px 18px 0;
    }

    .message h3{
        font-size: 20px;
        line-height: 21px;
    }

    .message-txt{
        font-size: 15px;
        line-height: 35px;
        margin-top: 60px;
    }

    .movie-txt{
        margin-top: 200px;
        font-size: 12px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .movie-txt:before, .movie-txt:after {
        border-top: 1px solid #6356A3;
        content: "";
        width: 130px; /* 線の長さ */
      }
      

    .delete2{
        display: none;
    }

    iframe{
        width:784px;
        height:441px;
      }

      .campaign {
        margin: 160px 0;
      }

      .campaign-img{
        width: 500px;
        height: 210px;
      }

      .below-bar{
        margin-bottom: 0px;
    }

      footer{
        top: 30%;
        left: 0;
        position: fixed;
    }

    footer ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer ul li{
        writing-mode: vertical-rl;
        padding: 8px 5px;
        background-color: #ffffff;
        background: rgba(255,255,255,0.6);
        margin: 0;
    }

    footer ul li:nth-child(4){
        text-orientation: upright;
        border: solid 1px #C1B3AC;
        margin: 0;
    }

    footer ul li:nth-child(5){
        border-right: solid 1px #C1B3AC;
        border-bottom: solid 1px #C1B3AC;
        border-left: solid 1px #C1B3AC;
        margin: 0;
    }

    footer ul li:first-child,
    footer ul li:nth-child(2),
    footer ul li:nth-child(3){
        display: none;
    }

    footer ul li a{
        color: #CE0000;
        text-align: center;
        font-size: 10px;
        margin: 0;
    }

    .page-top{
        display: none;
    }

    footer ul li a:link,
    footer ul li a:visited,
    footer ul li a:hover,
    footer ul li a:active{
        color: #CE0000;
        text-decoration: none;
      }
 }


 @media screen and (min-width: 960px) {
    .top{
        background-image: url(./Links/top-img.png);
        background-position:center;
        height: 627px;
    }

    .top-txt .top-txt2{
        position: absolute;
        bottom: 25px;
        right: 15%; 
        left: auto;
        transform: scale(1); 
    }

    .red .bg-img,
    .white .bg-img,
    .green .bg-img,
    .blue .bg-img{
        width: 100%;
        height: 492px;
    }

    .slider li{
        margin: 0 15px;
    }

    .slider li img{
        width: 100%;
        height: 480px;
        object-fit: cover;
    }
 }

 @media screen and (min-width: 1100px) {
    .top-txt .top-txt2{
        position: absolute;
        bottom: 25px;
        right: 21%; 
        left: auto;
        transform: scale(1); 
    }
 }

 @media screen and (min-width: 1200px) {
    .top{
        background-position:center;
        height: 700px;
    }

    .top-txt h1{
        left:14%;
        transform: translate(0,-50%);
    }

    .top-txt .top-txt1{
        left: 15%;
        
    }

    .red .bg-img,
    .white .bg-img,
    .green .bg-img,
    .blue .bg-img{
        width: 100%;
        height: 672px;
    }

    .red .bg-img,
    .green .bg-img{
        background-position: -250px center;

    }

    .white .bg-img,
    .blue .bg-img{
        background-position: 250px center;
    }

    .slider li{
        margin: 0 35px;
    }

    .slider li img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
 }

 @media screen and (min-width: 1400px) {
    .slider li{
        margin: 0 45px;
    }

    .slider li img{
        width: 100%;
        height: 670px;
        object-fit: cover;
    }
 }

 
